:root{
    --primarycolor: blue;
    --secondrycolor: aqua;
    --lightcolor: #fff;
    --bgcolor-1: black ;
    --bgcolor-2: rgb(31, 29, 29);
    --padding: 8%;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Lora" , sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}

h1{
    font-size: 4.30rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}

span{
    color: aqua;
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}



.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}



nav{
    
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--primarycolor);
}


.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts{
    position: relative;
    bottom: -10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}


.btn{
    background-color: rgb(53, 202, 53);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;

}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}


.social img:hover{
    transform: scale(1.2);
}


.home .container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 90%;
    transition:  bottom 1s;
}

.home .container-images:hover .pic{
    bottom: 40px;

}

.moaaz{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.moaaz .container-images{
    width: 35%;
}

.moaaz .container-images img{
    width: 90%;
}

.moaaz .container-texts{
    width: 35%;

}

p{
    color: var(--secondrycolor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5{
    font-size: 1.37rem ;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.skills{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.skills .container-images{
    width: 35%;
}

.skills .container-images img{
    width: 90%;
}

.skills .container-skills{
    width: 50%;
}


.content-skills{
    display: flex;
    flex-wrap: wrap;

}



footer{
    padding: 2rem var(--padding);
    background-color: var(--bgcolor-1);

}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 575px) {
    :root{
        --padding: 1.5rem
    }

    html{
        font-size: 13px;
    }

}